.cardthree {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 45px;

    &--items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 12px;
    }
}

.card--cardthree {
    padding: .5rem 0;
    max-width: 458px;
    &:hover {
        cursor: pointer;
    }

    img {
        height: 248px;
        max-width: 458px;
        border-radius: 8px;

        &:hover {
            opacity: .8;
        }
    }

    button {
        padding: .25rem;
        border-radius: .25rem;
    }
    
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}